<h1 style="color: #F7F7F7; font-family: Varela Round;">New friend</h1>
<br/>
<%= render "form", friend: @friend %>

<br>

<div style="font-family: Varela Round;">
  <%= link_to "Back to friends", friends_path, class: "btn btn-primary"%>
</div>
